a {
    text-decoration: none;
}

body {
    background-color: #090b16;
}

.content {
    background-color: #151515;
    border-radius: 8px;
    width: 64%;
    margin: 0 auto;
}

.button {
    background-color: #7B4FFE;
    color: white;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}